#chessboard, .black_square, .white_square, .check_square , .empty_square {
	display:block;
	padding:0px;
	margin:0px;
	
}

#chessboard {
	width:520px;
	height:624px;
	border:4px solid #000000;

}
#start_btn {

}
/*
#pawn_black {
	visibility:hidden;
}

#rook_black{
 visibility:hidden;
}

#knight_black{
 visibility:hidden;
}

#bishop_black{
 visibility:hidden;
 
}#king_black{
 visibility:hidden;
}

#rook_black{
 visibility:hidden;
}

#queen_black{
	visibility:hidden;
}
*/
.black_square, .white_square , .check_square, .empty_square{
	width:50px;
	height:50px;
	float:left;
	border:1px solid #000000;
}

.black_square {
	background-color:#45DAFF;
}

.white_square {
	background-color:#CCF5FF;
}

.empty_square {
	background-color:#FFFFFF;
}

.check_square
{
background-color:#FF99FF;
}